{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Shortener</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="https://cdn.tailwindcss.com"></script>
    <script defer src="{% static 'js/app.js' %}"></script>
  </head>

  <body class="bg-neutral-900 text-gray-200">
    {% block content %}
    {% endblock content %}
  </body>
</html>
